$ErrorActionPreference = 'Stop'

$toolsDir = Split-Path -Parent $MyInvocation.MyCommand.Definition
$installerPath = Join-Path $toolsDir 'kport-{VERSION}-setup.exe'

if (-not (Test-Path $installerPath)) {
  throw "Installer not found: $installerPath"
}

$packageArgs = @{
  packageName   = $env:ChocolateyPackageName
  fileType      = 'exe'
  file          = $installerPath
  silentArgs    = '/S'
  validExitCodes = @(0)
}

Install-ChocolateyInstallPackage @packageArgs
