$ErrorActionPreference = 'Stop'

$url = 'https://github.com/farman20ali/port-killer/releases/download/v{VERSION}/kport-{VERSION}-setup.exe'
$checksum = '{CHECKSUM}'
$checksumType = 'sha256'

$packageArgs = @{
  packageName    = $env:ChocolateyPackageName
  fileType       = 'exe'
  url            = $url
  softwareName   = 'kport*'
  checksum       = $checksum
  checksumType   = $checksumType
  silentArgs     = '/S'
  validExitCodes = @(0)
}

Install-ChocolateyPackage @packageArgs
