# yaml-language-server: $schema=https://aka.ms/winget-manifest.singleton.1.6.0.schema.json
PackageIdentifier: farman20ali.kport
PackageVersion: {version}
PackageName: kport
Publisher: farman20ali
License: Apache-2.0
ShortDescription: Cross-platform port inspector and killer
Installers:
  - Architecture: x64
    InstallerType: inno
    InstallerUrl: https://github.com/farman20ali/port-killer/releases/download/v{version}/kport-{version}-setup.exe
    InstallerSha256: {sha256}
    InstallerSwitches:
      Silent: /VERYSILENT /SUPPRESSMSGBOXES /NORESTART
      SilentWithProgress: /VERYSILENT /SUPPRESSMSGBOXES /NORESTART
ManifestType: singleton
ManifestVersion: 1.6.0
